@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.box{
    box-sizing: border-box;
    width: 336px;
    height: 236px;
    border: 1px solid hsl(0, 0%, 77%);
    border-radius: 10px;
    margin: 200px 0px 0px 485px;
    align-items: center;
    justify-content: center; 
}
.yellow-part{
    justify-content: row;
    width: 334px;
    height: 29px;
    border-radius: 10px;
    background: #FFDC40;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}
.name{
    width: 198px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 55px;
    text-transform: capitalize;
    color: #000000;
}
#newproject input{
    box-sizing: border-box;
    align-items: center;
    justify-content: center; 
    width: 286px;
    height: 40px;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}
.action{
    width: 150px;
    height: 42px;
    margin-left: 80px;
    margin-top: 15px;
    background: #833AE0;
    padding: 0px;
    border: 0px;
    border-radius: 71px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.plus-icon{
    width: 42px;
    height: 42px;
    color: white;
    background: #9953F1;
    border-radius: 71px;
    text-indent: 2px;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    margin-right: 26px;
}
.add-icon{
    padding-top: 5px;
    margin-top: 0px;
    color: white;
    padding: 1px;
}
.sort{
    width: 25px;
    height: 15px;
    margin-left: 278px;
}
.delete-icon{
    margin-left: -48px;
    margin-top: 20px;
    position: absolute;
}
