@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.body{
    /* overflow: hidden; */
    width: 336px;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.wrapper{ 
    width: 336px;
    height: auto;
    border: 1px solid hsl(0, 0%, 77%);
    border-radius: 10px;
    margin: 135px auto;
    align-items: center;
    justify-content: center; 
    text-align: center;
    min-height: 236px;
    max-height: 500px;
}
.yellow-part{
    justify-content: row;
    width: 334px;
    height: 29px;
    border-radius: 10px;
    background: #FFDC40;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.name{
    width: 198px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 55px;
    text-transform: capitalize;
    color: #000000;
}
.container{
    width: 336px;
    min-height: 214px;
    max-height: 500px;
    background-color: white;
    border-radius: 10px;
}

.input{
    display: flex;
    flex-direction: column;
}

.sort_icon{
    position: relative;
    width: 50px;
    height: 15px;
    margin-left: 275px;
    border: none;
    outline: none;
    background-color: white;
 }
 .arrows{
    position: relative;
    margin-left: 285px;
     margin-bottom: 5px;
 }

 .value_list{
    overflow:auto;
    width: 286px;
    min-height: 40px;
    max-height: 200px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    border-radius: 10px;

}

.note{
    width: 286px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
}

.input_place{
    margin: auto;
    text-align: middle;
    outline: none;
    border: none;
}

.delete{
    align-self:center;
margin-right: 25px;
width: 20px;
height: 20px;
border: 1px solid #C4C4C4;
border-radius: 71px;
color: lightgrey;
font-weight: 100;
text-align: center;
}


.delete:hover{
    background-color: #833AE0;
    color: white;
}


.action{
    width: 150px;
    height: 42px;
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 10px;
    background: #833AE0;
    padding: 0px;
    border: 0px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 71px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.plus-icon{
    width: 42px;
    height: 42px;
    color: white;
    background: #9953F1;
    border-radius: 71px;
    text-indent: 2px;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    margin-right: 26px;
}
.add-icon{
    padding-top: 5px;
    margin-top: 0px;
    color: white;
    padding: 1px;
}

.action:hover{
    background-color:#9953F1;
}




